
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "ProductSans-Regular";
    src: url("../fonts/ProductSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
  line-height: 1.6;
  color: #111;
  font-family: "ProductSans-Regular";
  background: linear-gradient(90deg, #ffffff, #eeeeee,#ffffff);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: linear-gradient(270deg, #ffd518, #9de922, #18ffff);
  color: white;
  animation: gradientMove 10s ease infinite;
  background-size: 400% 400%;
  z-index: 1000;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.logo {
    background: linear-gradient(to right, #000000, #1836dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Brier';
}
.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #000000, #1836dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}


.hero {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/zArchive.jpg") center/cover no-repeat;
    height: 100px;
}

.section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  padding: 2rem;
  border: 1px solid #4b4b4b;
  border-radius: 8px;
  transition: transform 1s;
}

/*.card:hover,.card:hover {
  transform: translateY(-5px) rotate(1deg);
  transform-origin: left;
} */

.card.tilt-left:hover {
  transform: translateY(-5px) rotate(-2deg);
  transform-origin: left center;
}

.card.tilt-right:hover {
  transform: translateY(-5px) rotate(2deg);
  transform-origin: right center;
}


#emailBtn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .hero h2 {
    text-align: center;
  }
  .hero-content {
    flex-direction: column;
    gap: 1rem;
  }
}
.hero-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 5px; 
  background: linear-gradient(270deg, #ff7a18, #ffb347, #ff1818);
  background-size: 400% 400%;
  animation: gradientMove 8s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  margin-bottom: 0.5rem;
  color: white
}
.name-grad {
    background: linear-gradient(270deg, #d6d6d6, #ee9595, #72ffff);
    animation: gradientMove 10s ease infinite;
    font-weight: 800;
    background-size: 400% 400%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name-grad a, .name-grad2 a, .neilaryankota {
    text-decoration: none;
}
.name-grad2, .neilaryankota {
    background: linear-gradient(270deg, #000000, #55446b, #2f6969);
    animation: gradientMove 10s ease infinite;
    font-weight: 600;
    background-size: 400% 400%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  border: 4px solid white;
}

.akv-text {
    color: red;
}
.akitavault, .card a{
    text-decoration: none;
    color: black;
}
.akvlink  {
    background: linear-gradient(270deg, #0099ff, #5229cc, #05584a);
    animation: gradientMove 10s ease infinite;
    font-weight: 800;
    background-size: 400% 400%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.5s;
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}

#about h2, #projects h2, #contact h2, #skills h2{
    background: linear-gradient(270deg, #000000, #001aff, #440f80);
    animation: gradientMove 10s ease infinite;
    font-weight: 800;
    background-size: 400% 400%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 1s;
}

#about h2:hover, #projects h2:hover, #contact h2:hover, #skills h2:hover{
    transform: translateY(-5px);
    transform-origin: left;
}

.stat-card {
  width: 220px;
  padding: 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
  text-align: center;
}

.stat-value {
  font-size: 42px;
  font-weight: bold;
  display: block;
}

.box {
  opacity: 0;
  transform: translateY(200px); 
  transition: all 0.6s ease-out;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

h3 .akvlink {
    background: linear-gradient(270deg, #0099ff, #5229cc, #05584a);
    animation: gradientMove 10s ease infinite;
    font-weight: 800;
    background-size: 400% 400%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.5s;
    text-decoration: none;
}
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;             
}
svg {
  animation: gradientMove 10s ease infinite;
  transition: transform 0.8s;
}
svg:hover {
  transform: scale(1.2);
  transform: rotate(720deg);
}
.contactlink {
  text-decoration: none;
  color: #000000;
}
.photo-grid {
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));*/
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.row {
    overflow: hidden;
    white-space: nowrap;
}

.track {
    display: flex;
    gap: 10px;
    width: max-content;
}

.row img {
    height: 300px;
    width: auto;
    object-fit: cover;
}
.photo-grid img {
    /*width: 100%;
    height: 200px;
    object-fit: cover;
    height: 200px;
    flex-grow: 1;
    object-fit: cover;*/
    transition: transform 0.3s;
}
#overlay {
    display: none;               
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px #000;
    transition: transform 0.3s ease;
    animation: zoomIn 0.3s forwards;
    transform: scale(0);
}

#close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
@keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes scroll-right {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
}
@keyframes zoomIn {
    to { transform: scale(1); }
}
.row.odd .track {
    animation: scroll-right 60s linear infinite;
}

.row.even .track {
    animation: scroll-left 60s linear infinite;
}
#lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.1s ease;
    cursor: grab;
}
.lazy {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.lazy-loaded {
    opacity: 1;
}
